# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\CarrierDevelopment\projects\spring-boot-master\websocket-on-spring-mongodb-functional-reactive\spring-boot-reactive-websocket-mogodb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
